<header class="header-area">
  <!-- <div class="navbar-area navbar-two"> -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand">
              <img
                src="assets/images/cep/Logo CEP - Trắng.png"
                width="100px"
                alt="Logo"
              />
            </a>
          </nav>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
  <div
    id="home"
    class="header-content-area bg_cover d-flex align-items-center"
  >
    <div class="container mt-0 countdown-header">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="pt-0" data-countdown="2024/01/13"></div>
          <div class="header-content text-center">
            <img src="assets/images/cep/cep sumUP 2023.png" alt="" />
            <img
              src="assets/images/cep/Our success  Start with you.png"
              alt="Logo"
            />
            <h3 class="sub-title">13 -14 January, 2024 | Madagui, Lâm Đồng</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
