.payment-getway{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    ul.payee{
        li{
            text-align: start;
            p{

                color: #fff;
            }
        }
        

    }
}