<header class="header-area">
  <div class="navbar-area navbar-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="index.html">
              <img src="assets\images\logo.png" alt="Logo" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarTwo"
              aria-controls="navbarTwo"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
              <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                  <a class="page-scroll" href="#home">About Event</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#event">Schedules</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#team">Guest</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#pricing">Pricing</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="page-scroll" href="#contact">Contact</a>
                </li> -->
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div
    id="home"
    class="header-content-area bg_cover d-flex align-items-center"
    style="background-image: url(assets/images/header-bg.jpg)"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div data-countdown="2024/01/13"></div>
          <div class="header-content text-center">
            <h2 class="header-title">CEP SUMUP 2023</h2>
            <h3 class="sub-title">It's time to go Madagui</h3>
            <h3 class="sub-title">13 -14 Jan 2024</h3>
            <ul class="header-btn">
              <li>
                <a class="main-btn main-btn-2" (click)="register()">Register Now</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
