<section id="team" class="team-area pt-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center pb-50">
          <h2 class="title animate-charcter">What's new?</h2>
        </div>
      </div>
    </div>
    <div class="carousel">
      <input type="radio" name="slider" id="item-1" checked />
      <input type="radio" name="slider" id="item-2" />
      <input type="radio" name="slider" id="item-3" />
      <div class="cards">
        <label class="card" for="item-1" id="song-1">
          <img src="assets\images\cep\lucky-draw.jpg" alt="music-show" />
        </label>
        <label class="card" for="item-2" id="song-2">
          <img src="assets\images\cep\cap.png" alt="cap" />
        </label>
        <label class="card" for="item-3" id="song-3">
          <img
            src="assets\images\cep\IMG_20240105_205232.jpg"
            alt="team-building"
          />
        </label>
      </div>
      <div class="player">
        <div class="upper-part">
          <div class="info-area row" id="test">
            <label class="song-info" id="song-info-1">
              <div class="animate-charcter-2">Lucky draw</div>
              <div class="animate-charcter-2">Total prize value up to 10M</div>
            </label>
            <label class="song-info" id="song-info-2">
              <div class="animate-charcter-2">Gifts for each CEP-ER</div>
            </label>
            <label class="song-info" id="song-info-3">
              <div class="animate-charcter-2">Team building</div>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
