.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.text-effect{
  text-align: center;
  font-family: "Monoton";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.03125rem;
  text-transform: uppercase;
  background: linear-gradient(to right, #FF27CC 0%, #FF363C 100%);
  background-clip: text;
  color: transparent;
}
.agenda-tab{
  border-radius: 4px !important;
  padding: 20px 60px;
  background: transparent;
  border: 2px solid rgba(0, 212, 255, 1);
  color: #fff;
  &:hover{
    border: 2px solid rgb(33, 146, 168);
  }
}