<section
  id="footer"
  class="footer-area bg_cover"
  style="background-image: url(assets/images/footer.jpg)"
>
  <!-- <div class="footer-subscribe-area pt-120 pb-130">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="footer-subscribe text-center">
            <h2 class="subscribe-title">Subscribe Now</h2>
            <div class="subscribe-form mt-45">
              <form action="#">
                <input type="email" placeholder="Enter Your Email" />
                <button class="main-btn">Subscribe Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="footer-widget">
    <div class="container">
      <div class="widget pt-80 pb-130">
        <div class="row">
          <div class="col-lg-6">
            <div class="footer-address mt-40">
              <h5 class="f-title">Venue Location</h5>
              <p class="text">
                13 - 14 JANUARY, 2024 <br />
                WCQH+3RC, Hoang Van Thu Street, Ward 4, Da Lat City, Lam Dong
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="footer-contact mt-40">
              <h5 class="f-title">Contact Admin</h5>
              <ul class="social">
                <li>
                  <span class="contact">
                    <i class="lni lni-envelope"></i>
                    <p>thuyntn1&#64;fpt.com</p>
                  </span>
                </li>
                <li>
                  <span class="contact">
                    <i class="lni lni-envelope"></i>
                    <p>thunta2&#64;fpt.com</p>
                  </span>
                </li>
                <li>
                  <span class="contact">
                    <i class="lni lni-envelope"></i>
                    <p>thaoltp2&#64;fpt.com</p>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center">
            <p class="text">
              &copy; 2023, CEP. All Rights Reserved.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
