.social{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    
    li{
        margin: 0;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        &:hover{
            // transform: translateX(10px);
            transition: all 0.5s ease-in-out;
        }
        .contact{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            i{
                color:#fff;
            }
            p{
                margin: 0;
                margin-left: 10px;
                color: #fff;
            };
        }
    }
}
.text-effect{
    text-align: center;
    font-family: "Monoton";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.03125rem;
    text-transform: uppercase;
    background: linear-gradient(to right, #FF27CC 0%, #FF363C 100%);
    background-clip: text;
    color: transparent;
}